body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #191919;
  background-size: cover;
}

canvas {
  border: 15px solid;
  border-radius: 50px;
  border-image: linear-gradient(-90deg, rgb(255, 138, 0), rgb(229, 46, 113)) 1;
  /* Set the width and height to half the actual size so it doesn't look pixelated */
  width: 800px;
  height: 500px;
  background: #191919;
}

button {
  background-image: linear-gradient(
    -90deg,
    rgb(255, 138, 0),
    rgb(229, 46, 113)
  );
  padding: 3px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  border: none;
  margin-top: 1rem;
}

span {
  display: inline-block;
  background: #191919;
  color: #fff;
  padding: 0.35rem 2.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

canvas.shake {
  animation: shake 0.5s linear 1;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
